/**
 *
 * Requires:
 * - IntelliJ File Watcher
 * - Configure FileWatcher (https://www.jetbrains.com/help/webstorm/transpiling-sass-less-and-scss-to-css.html#ws_sass_less_scss_example_scss)
 *
 */
/* Default Styles*/
* {
  font-family: "Onest", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* Utility Styles */
.font-weight-bold {
  font-weight: bold;
}

.md {
  display: none;
}
@media screen and (min-width: 900px) {
  .md {
    display: block;
  }
}

.md-inline {
  display: none;
}
@media screen and (min-width: 900px) {
  .md-inline {
    display: inline;
  }
}

.sm-only {
  display: none;
}
@media screen and (max-width: 900px) {
  .sm-only {
    display: block;
  }
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* Custom Styles */
.loading-spinner {
  display: none;
  animation: rotator 1.4s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
}
.loading-spinner.active {
  display: block;
}
.loading-spinner .loading-spinner__path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.top-bar {
  background-color: #082E51;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 4.25rem;
  font-size: 1.66666667rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
}
.top-bar .app-name {
  margin-right: 1rem;
}
.top-bar .app-name, .top-bar .app-name * {
  white-space: nowrap;
}
.top-bar .conversation-name, .top-bar .conversation-name * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-bar .city-select {
  font-size: 1rem;
  line-height: 2rem;
}

.layout {
  padding-top: 4.25rem;
  display: grid;
  grid-template-areas: "aside main main main main main" "aside main main main main main";
}

.chat-aside {
  grid-area: aside;
  border-right: solid rgba(163, 163, 163, 0.2) 2px;
  background: #F0F5FF;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  width: 23px;
}
@media screen and (min-width: 900px) {
  .chat-aside {
    width: auto;
  }
}
.chat-aside.visible {
  width: 60svw;
  position: fixed;
  top: 4rem;
  bottom: 0;
  left: 0;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
}
.chat-aside.visible .conversation-list {
  display: block;
}
.chat-aside.visible .finatix-container {
  display: flex;
}
.chat-aside.visible .mini-finatix-logo {
  display: none;
}
.chat-aside.visible .mobile-toggle {
  transform: rotateZ(180deg);
}
.chat-aside .mobile-toggle {
  display: none;
  cursor: pointer;
  background: #3496BA;
  position: absolute;
  border-radius: 0 4px 4px 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  color: white;
  text-align: center;
  height: 40px;
  line-height: 35px;
  font-size: 2rem;
}
@media screen and (max-width: 900px) {
  .chat-aside .mobile-toggle {
    display: block;
  }
}
.chat-aside .mini-finatix-logo {
  display: none;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 900px) {
  .chat-aside .mini-finatix-logo {
    display: block;
  }
}
.chat-aside .conversation-list {
  display: none;
  flex: 0 0 calc(100svh - 4.25rem - 5rem);
  overflow: auto;
}
@media screen and (min-width: 900px) {
  .chat-aside .conversation-list {
    display: block;
  }
}
.chat-aside .conversation-list img {
  padding: 1rem;
  max-width: 50%;
}
.chat-aside .conversation-list p {
  padding: 0 1rem;
}
.chat-aside .conversation-list .conversation-item {
  border-bottom: solid rgba(163, 163, 163, 0.2) 1px;
  padding: 1rem;
}
.chat-aside .conversation-list .conversation-item.active {
  background-color: #ADD5E3;
}
.chat-aside .conversation-list .conversation-item:hover {
  background-color: #BFE5FF;
  cursor: pointer;
}
.chat-aside .conversation-list .conversation-item .conversation-item-name {
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.chat-aside .conversation-list .conversation-item .conversation-preview {
  font-weight: 400;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chat-aside .conversation-list .conversation-item .conversation-item-name, .chat-aside .conversation-list .conversation-item .conversation-preview {
  margin: 0;
}
.chat-aside .finatix-container {
  display: none;
  flex: 0 1 0;
  padding: 1rem;
  height: 5rem;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  .chat-aside .finatix-container {
    display: flex;
  }
}
.chat-aside .finatix-container img {
  width: 144px;
}
.chat-aside .finatix-container button {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: calc(3rem / 2);
  background: #3496BA;
  border: 0;
  color: white;
  border-radius: 10px;
  font-weight: lighter;
}

.chat-box {
  grid-area: main;
  border-radius: 10px;
  margin-bottom: 20px;
  height: calc(100svh - 4.25rem);
}
.chat-box .chat-messages {
  overflow: auto;
  height: calc(100svh - 4.25rem - 5.5rem);
  display: flex;
  flex-direction: column;
}
.chat-box .chat-messages .message-container {
  padding: 1rem;
  display: flex;
}
@media screen and (min-width: 900px) {
  .chat-box .chat-messages .message-container {
    max-width: 70%;
  }
}
.chat-box .chat-messages .message-container.ai-message .message-content {
  background-color: #ADD5E3;
}
.chat-box .chat-messages .message-container.user-message {
  align-self: flex-end;
}
.chat-box .chat-messages .message-container.user-message .message-content {
  background-color: #DDD;
}
.chat-box .chat-messages .message-container .message-content {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: #000;
}
.chat-box .chat-messages .message-container .message-content .message-sender {
  text-transform: uppercase;
  font-weight: bold;
}
.chat-box .chat-messages .message-container .message-content .message-sender::after {
  content: " - ";
  display: inline;
}
.chat-box .chat-messages .message-container .message-content .message-time {
  text-transform: uppercase;
  font-weight: bold;
}
.chat-box .chat-messages .message-container .message-content .message-text {
  margin-top: 1rem;
  line-height: 1.5;
}
.chat-box .new-message {
  clear: both;
  display: flex;
  background-color: white;
  width: 100%;
  padding: 1.25rem 1rem;
  height: 5.5rem;
}
.chat-box .new-message input {
  flex: 1 0 0;
  height: 2.875rem;
  width: 100%;
  padding: 0 1rem;
  border-radius: 12px 0 0 12px;
  border-left: 1px solid rgb(163, 163, 163);
  border-top: 1px solid rgb(163, 163, 163);
  border-bottom: 1px solid rgb(163, 163, 163);
  border-right: 0;
  outline: 0;
}
.chat-box .new-message .input-group-append {
  flex: 0 1 0;
}
.chat-box .new-message .input-group-append button {
  height: 2.875rem;
  padding: 0 1rem;
  text-transform: uppercase;
  background-color: #3496BA;
  border-radius: 0 12px 12px 0;
  border-left: 0;
  border-top: 1px solid rgb(163, 163, 163);
  border-right: 1px solid rgb(163, 163, 163);
  border-bottom: 1px solid rgb(163, 163, 163);
  color: white;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

/*# sourceMappingURL=styles.css.map */
