
/**
 *
 * Requires:
 * - IntelliJ File Watcher
 * - Configure FileWatcher (https://www.jetbrains.com/help/webstorm/transpiling-sass-less-and-scss-to-css.html#ws_sass_less_scss_example_scss)
 *
 */

$backgroundColor: #082E51;

* {
  font-family: "Onest", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.top-bar {
  background-color: $backgroundColor;
  border-bottom: solid $backgroundColor 2px;
  color: white;

  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;

  height: 4rem;
  width: 100vw;

  margin: 0;
  padding: 1rem;

  .app-name {
    display: none;
    @media screen and (min-width: 800px) {
      display: block;
    }
  }

  .city-select {
    display: none;

    @media screen and (min-width: 800px) {
      display: block;
    }
  }
}

.chat {
  padding-top: 4rem;
}


.conversation-list {
  border-right: solid $backgroundColor 2px;
  // height: 92svh;
  // overflow: scroll;
  margin: 0;
  padding: 0;
}

.conversation-overview {
  overflow: scroll;
  padding-bottom: 6rem;
  height: inherit;

  @media screen and (max-width: 480px) {
    height: auto;
    border-bottom: solid $backgroundColor 2px;
  }

  img {
    // float: right;
    padding: 1rem;
    max-width: 50%;
  }

  p {
    padding: 0 1rem;
  }
}


.finatix-container {
  border-top: solid $backgroundColor 2px;
  background-color: white;
  padding: 1rem;
  height: 2rem;
  width: auto;
  // position: absolute;
  bottom: 0;
}

.conversation-item {
  border-bottom: solid $backgroundColor 1px;

  &.active {
    background-color: #bfe5ff;
  }

  &:hover {
    background-color: #BFE5FF;
    cursor: pointer;
  }
}

.chat-box {
  border-radius: 10px;
  margin-bottom: 20px;
  height: 92svh;

  .new-message {
    background-color: white;
    width: 100%;
    padding: 1rem 1rem;
    // position: absolute;
    bottom: 0;
  }
}

.chat-messages {
  // overflow: scroll;
  padding-bottom: 3rem;
  height: inherit;
}

.message-container {
  padding: 1rem;
}

.message-content {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 70%;
  color: #000;
}

.user-message {
  // float: right;

  .message-content {
    display: inline-block;
    background-color: #DDDDDD;
    color: #000;
  }
}

.ai-message {
  // float: left;

  .message-content {
    display: inline-block;
    background-color: #8BC9E0;
    color: #000;
  }

}

.btn {
  background-color: $backgroundColor;
  color: white;
}