<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Data Platform Chat</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:ref="@{/styles.css}">

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/scripts.js}"> </script>
</head>
<body>
<div class="container mt-5 chat-container">
    <div class="row">
        <div class="col-md-12">
            <!-- Chat Interface -->
            <div class="chat-box">
                <h5 class="text-primary">Open DataChat</h5>
                <div id="chat-messages">
                </div>
                <div class="input-group mt-3">
                    <input type="text" class="form-control" placeholder="Type your message..."
                           aria-label="Type your message" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
